<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Flix Filmes</title>
    <link rel="stylesheet" href="../styles/aluraFlixFimes.css">
  </head>
  <body>
    <div class="container">
      <a href="https://alura.com.br/" target="_blank">
        <img src="https://www.alura.com.br/assets/img/home/alura-logo.svg" alt="" class="alura-logo">
      </a>      
      <h1 class="page-title">Aluraflix Filmes</h1>
      <img src="https://www.alura.com.br/assets/img/imersoes/dev-2021/logo-imersao-aluraflix.svg" class="page-logo" alt="">
      <form id="f1" method="get">
        <div class="container-lista">
          <label id="labelFilme" form="selectFilme">Escolha seu Filme</label>
          <select id="selectFilme" class="selectFilme" onchange="javascript:CartaoFilme()">
            <option selected="selected"></option>
          </select>
        </div>
      </form>
      <div id="container-filme" class='container-filme'>
      </div>      
    </div>
    <script src="../scripts/aluraFlixFilmes.js"></script>
  </body>
</html>