<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Trunfo</title>
    <link rel="stylesheet" href="../styles/superTrunfo.css">
  </head>
  <body>
    <div class="container">
      <a href="https://alura.com.br/" target="_blank">
        <img src="https://www.alura.com.br/assets/img/home/alura-logo.svg" alt="" class="alura-logo">
      </a>      
      <img src="https://www.alura.com.br/assets/img/imersoes/dev-2021/logo-imersao-super-trunfo.png" class="page-logo" alt="">
      <h1 class="page-title">Super Trunfo</h1>
      <div id="geral" class="geral">
        <div id="placar" class="placar">
          <div id="placarJogador" class="placar-jogador">
            <p id="pJogador"></p>
          </div>
          <img id="placarVersus" class="placar-versus" src="https://2img.net/h/1.bp.blogspot.com/-QKlkB9h5lFY/VkChvW2Hq6I/AAAAAAAAHfc/aQaRHWZcWOo/s1600/VERSUS.png">
          <div id="placarMarquina" class="placar-jogador">
            <p id="pMaquina">0 Máquina</p>
          </div>
        </div>
        <form id="form">
          <div id="formulario" class="formulario">
            <button onclick="sortearCarta()" id="btnSortear" title="Faz o sorteio das cartas para efetuar a jogada.">Sortear carta</button>
            <div class="opcoes" id="opcoes"></div>
            <button type="button" id="btnAuxiliar" onclick="auxiliar()" disabled="false" title="Só é habilitado quando um dos jogadores tira a carta coringa">Deck Auxiliar</button>
            <button type="button" id="btnJogar" onclick="jogar()" disabled="false" title="Efetua a jogada">Jogar</button>
          </div>
          <div id="resultado"></div>
        </form>
        <h2>Escolha o seu atributo</h2>
        <div id="dec" class="dec">
          <div class="dec-carta">
            <label id="cartasDisponivelJogador" class="atributos"></label>
            <div id="dec-jogador" class="dec-jogadores">
              <div id="nomeCartaJogador" class="nomeCarta"></div>
              <div id="imgCartaJogador" class="img-carta"></div>
              <div id="atributosJogador" class="atributos"></div>
            </div>
            <div id="carataConquistadaMaquina">
              <p class="pConquista">Cartas Conquistadas</p>
              <div id="conquistasJogador" class="conquistasMaquina"></div>
            </div>                          
          </div>
          <div class="dec-carta">
            <label id="cartasDisponivelMaquina" class="atributos"></label>
            <div id="dec-maquina" class="dec-jogadores">
              <div id="nomeCartaMaquina" class="nomeCarta"></div>
              <div id="imgCartaMaquina" class="img-carta"></div>
              <div id="atributosMaquina" class="atributos"></div>          
            </div>
            <div id="carataConquistadaMaquina">
              <p class="pConquista">Cartas Conquistadas</p>
              <div id="conquistasMaquina" class="conquistasMaquina"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/superTrunfo.js"></script>
  </body>
</html>